body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
}
nav{
	display: inline-flex;
	float: right;
	border-radius: 200px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 10px 20px 10px 20px;
	background: blue;
}
h1{
	font-size: 3em;
	color: #8C2F5E;
	text-align: center;
	border-bottom: 1px solid;
}
.buffer{
	height: 20px;
}
hr{
	border-color: #8C2F5E;
	border-width: 2px;
	max-width: 65px; 
}
button{
	background-color: rgba(30,50,200,0.1);
	color: #313C74;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #6D256F;
	border-color: #6D256F;
}
.btn-primary:hover {
	border-width: 4px;
}
.btn-xl{
	padding: 0.5em 2em;
}